.breadcrumb {
    background-color: #fff;
    margin-bottom: 0;
    padding-left: 0;
}

.page-header {
    margin: 10px 0 8px;
}

.task-info td label {
    margin-right: 3px;
}

.task-info td span {
    margin-right: 4px;
}

table.task-info {
    margin-bottom: 0;
    vertical-align: middle;
}

table.audio-list,
table.audio-list th {
    text-align: center;
}

.current-status {
    margin-top: 10px;
}

/*@media all and (min-width: 780px){
	.current-status{
		margin-top: 10px;
	}
}*/

table td a.action {
    margin: 0 5px;
}

    table td a.action[disabled='disabled'] {
        color: #E4E4E4;
    }

    table td a.action.highlight {
        color: red;
    }

#audit {
    margin: 0 6px 0 6px;
}

.anchor-status {
    color: red;
}

/* 覆写modal header样式*/
.audit-dialog .modal-header {
    padding: 10px;
}

.audit-dialog .modal-body {
    padding: 15px 36px;
}

.audit-dialog textarea {
    height: 76px;
}

.modal .modal-action {
    text-align: center;
}

    .modal .modal-action button {
        padding: 4px 26px;
    }

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        font-size: 200px;
        direction: ltr;
        cursor: pointer;
        height: 100%;
        width: 100%;
    }
